[Desktop Entry]
Type=Application
Name=CustomLauncherRewrite
Comment=An all purpose custom TTR launcher.
Path=/opt/CustomLauncherRewrite
Icon=customlauncherrewrite-icon.png
Exec=bash run.sh
Terminal=false
Categories=Games
